.exchange-contents {
  position: relative;
  width: 40%;
}
.exchange-contents h2 {
  color: white;
}

.exchange-contents::before {
  display: block;
  height: 10%;
  content: " ";
  border-left: 1px blueviolet solid;
  border-left-width: 4px;
  outline: none;
  position: absolute;
  top: 20px;
}